{% extends "base/base.html" %}

{% block title %} Sources ({{ sources|length }}){% endblock %}

{% block content_header %}Sources ({{ sources|length }}){% endblock %}

{% block content %}
<div class="container">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col" class="w-65">Name</th>
                <th scope="col" class="d-none d-md-table-cell w-10">Videos</th>
                <th scope="col" class="d-none d-md-table-cell w-25">Created By</th>
                <th scope="col" class="w-auto"></th>
            </tr>
        </thead>
        <tbody>

            {% for source in sources %}
            <tr>
                <td class="">
                    <a href="/source/{{ source.id }}" class="">{{ source.name }}</a>
                </td>

                <td class="">{{ source.videos | length }}</td>

                <td class="">{{ source.created_user.username }}</td>

                <td class="">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-dark btn-transparent dropdown-toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right p-1">
                            <a class="dropdown-item p-2" href="{{ source.pktc_subscription_url }}">Add to PocketCast</a>
                            <a class="dropdown-item p-2" href="/feed/{{ source.id }}">Go to Podcast Feed</a>
                            <a class="dropdown-item p-2" href="/source/{{ source.id }}/fetch">Fetch Source</a>
                            <a class="dropdown-item p-2" href="/source/{{ source.id }}/edit">Edit</a>
                            <a class="dropdown-item p-2" href="#"
                                onclick="confirmDelete('/source/{{ source.id }}/delete')">Delete</a>
                        </div>
                    </div>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<script>
    function confirmDelete(url) {
        if (confirm("Are you sure you want to delete this source?")) {
            window.location.href = url;
        }
    }
</script>
{% endblock %}
