{% extends "base/base.html" %}

{% block title %}Edit Source{% endblock %}

{% block content_header %}Edit Source{% endblock %}


{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Source Details
        </div>
        <div class="card-body p-4">
            <form method="POST">
                <div class="form-group">
                    <label for="id">Id:</label>
                    <input type="text" class="form-control mb-3" id="id" name="id" value="{{ source.id }}" disabled>
                </div>

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control mb-3" id="name" name="name" value="{{ source.name }}">
                </div>

                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" class="form-control mb-3" id="author" name="author" value="{{ source.author }}">
                </div>

                <div class="form-group">
                    <label for="url">URL:</label>
                    <input type="text" class="form-control mb-3" id="url" name="url" value="{{ source.url }}">
                </div>

                <div class="form-group">
                    <label for="logo">Logo:</label>
                    <input type="text" class="form-control mb-3" id="logo" name="logo" value="{{ source.logo }}">
                </div>

                <div class="form-group">
                    <label for="logo_background_color">Logo Background Color:</label>
                    <div class="input-group">
                        <input type="text" class="form-control mb-3" id="logo_background_color" name="logo_background_color" value="{{ source.logo_background_color or '' }}">
                        <button type="button" class="btn btn-outline-secondary" id="bgColorPickerBtn">Pick Color</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="logo_border_color">Logo Border Color:</label>
                    <div class="input-group">
                        <input type="text" class="form-control mb-3" id="logo_border_color" name="logo_border_color" value="{{ source.logo_border_color or '' }}">
                        <button type="button" class="btn btn-outline-secondary" id="borderColorPickerBtn">Pick Color</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control mb-3" id="description" rows="3"
                        name="description">{{ source.description }}</textarea>
                </div>

                <div class="form-group">
                    <label for="ordered_by">Ordered By:</label>
                    <input type="text" class="form-control mb-3" id="ordered_by" name="ordered_by"
                        value="{{ source.ordered_by }}" disabled>
                </div>

                <div class="form-group">
                    <label for="feed_url">Feed URL:</label>
                    <input type="text" class="form-control mb-3" id="feed_url" name="feed_url"
                        value="{{ source.feed_url }}" disabled>
                </div>

                <div class="form-group">
                    <label for="extractor">Extractor:</label>
                    <input type="text" class="form-control mb-3" id="extractor" name="extractor"
                        value="{{ source.extractor }}" disabled>
                </div>

                <div class="form-group">
                    <label for="handler">Handler:</label>
                    <input type="text" class="form-control mb-3" id="handler" name="handler"
                        value="{{ source.handler }}" disabled>
                </div>

                <div class="form-group">
                    <label for="ownerInput">Owner Id:</label>
                    <input type="text" class="form-control mb-3" id="ownerInput" name="created_by"
                        value="{{ source.created_by }}" disabled>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Color Picker -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Initialize color pickers
        const bgColorPicker = createColorPicker("bgColorPickerBtn", "#logo_background_color");
        const borderColorPicker = createColorPicker("borderColorPickerBtn", "#logo_border_color");

        function createColorPicker(buttonId, inputSelector) {
            const initialColor = document.querySelector(inputSelector).value;

            // Initialize Pickr.js color picker
            const colorPicker = Pickr.create({
                el: `#${buttonId}`,
                theme: "classic",
                default: initialColor,
                swatches: [ /* your swatches here */],
                components: {
                    preview: true,
                    opacity: false,
                    hue: true,
                    interaction: {
                        hex: true,
                        rgba: false,
                        hsla: false,
                        hsva: false,
                        cmyk: false,
                        input: true,
                        clear: true,
                        save: true
                    }
                }
            });

            colorPicker.on('save', (color, instance) => {
                const selectedColor = color.toHEXA().toString();
                const colorInput = document.querySelector(inputSelector);

                colorInput.value = selectedColor;
                instance.hide();
            });

            return colorPicker;
        }
    });
</script>
{% endblock content %}
