{% extends "base/base.html" %}

{% block title %} Sources ({{ sources|length }}){% endblock %}

{% block content %}

<div class="container">
    <form action="/sources/create" method="POST" class="row">
        <div class="col-10">
            <div class="form-group">
                <label for="url" class="small">Add New:</label>
                <input type="text" name="url" class="form-control" id="url" placeholder="Enter video URL">
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Add</button>
        </div>
    </form>
</div>

<div class="container mt-4">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col" class="w-65 small">Sources ({{ sources|length }})</th>
                {% if current_user.is_superuser %}
                <th scope="col" class="d-none d-md-table-cell w-15 small"></th>
                {% endif %}
                <th scope="col" class="w-auto"></th>
            </tr>
        </thead>
        <tbody>
            {% for source in sources | sort(attribute='name') %}
            <tr class="bg-dark">
                <td>
                    <div class="d-flex align-items-top">
                        <div class="me-3">
                            <img src="{{ source.logo }}" class="cropped-image" alt="" width="60" height="60">
                        </div>
                        <div>
                            <a href="/source/{{ source.id }}" class="fw-bold text-light text-decoration-none">{{
                                source.name }}</a>
                            <div class="small">
                                <span class="badge small {{ source.service | service_badge_color}}">
                                    {{ source.service }}
                                </span>
                                <span class="small text-muted">{{ source.videos | length }} videos</span>
                            </div>
                        </div>
                    </div>
                </td>

                {% if current_user.is_superuser %}
                <td>
                    <div class="small text-muted">{{ source.created_user.username }}</div>
                </td>
                {% endif %}

                <td>
                    <div class="dropdown mt-2">
                        <button class="btn btn-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>

                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/source/{{ source.id }}/edit"><i
                                        class="fas fa-pencil-alt me-2"></i> Edit</a>
                            </li>
                            <li><a class="dropdown-item" href="/feed/{{ source.id }}"><i class="fas fa-rss me-2"></i> Go
                                    to Podcast Feed</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="pktc://subscribe/{{ BASE_DOMAIN }}{{ source.feed_url }}"><i
                                        class="fas fa-plus-circle me-2"></i> Add to PocketCast</a></li>
                            {% if current_user.is_superuser %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/source/{{ source.id }}/fetch"><i
                                        class="fas fa-arrow-circle-right me-2"></i>
                                    Fetch Source</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="#"
                                    onclick="confirmDelete('/source/{{ source.id }}/delete', '{{ source.name }}')"><i
                                        class="fas fa-trash me-2"></i> Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border-bottom"></tr>

            {% endfor %}

        </tbody>
    </table>
</div>


<script>
    function confirmDelete(url, source_name) {
        if (confirm("Are you sure you want to delete '" + source_name + "' source?")) {
            window.location.href = url;
        }
    }
</script>
{% endblock %}
